body{
    font-family: Arial, Helvetica, sans-serif;
}

.workspace {
    height: 100vh;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    font: 700 12px system-ui;
  }

.loader{
    position: fixed;
    top: 0;
    left: 0; 
    width: 100vw;
    height: 100vh;
    display:flex;
    justify-content: center;
    background-color: black;

 }

 .loader img{
   background-color: black;

 }

 .image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: black;
    
}

.loading{
    display: flex;
}

.image::after{
    content: " ";
    width: 350px;
    height: 200px;
    background: url(/imgs/loadinglogo.PNG) no-repeat;
    -moz-animation: spinHorizontal 1.3s infinite linear;
    -o-animation: spinHorizontal 1.3s infinite linear;    
    -webkit-animation: spinHorizontal 1.3s infinite linear;
    animation: spinHorizontal 1.3s infinite linear;
    transition: opacity 0.75, visiblity 0.75s;
}

.image--hidden{
    opacity: 0;
    visibility: hidden;
}
@keyframes spinHorizontal {
    0% { transform: rotateY(0deg); }
    100% { transform: rotateY(400deg); }
}

.nav{
    width: 100vw;
    display: flex;
    justify-content: center;
  
}

.nav .container{
    display: block;
    margin: 0 auto;
}

.nav .links{
    display: flex;
    width: 30vw;
    justify-content: space-between;
    
}

.nav .logo{
    display: flex;
    justify-content: center;
}

.nav p{
    color: #434242;
    font-weight: 600;
}
